.page.theme_dark {
  --accent-color: #ff0070;
  --title-color: #000028;
  --text-color: #f1b2ce;
  --hover-button-color: rgba(255, 49, 112, 0.4);
  --logo-color: #db00ff;
  --background-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
}
