.page {
  font-family: var(--main-font), sans-serif;
  font-size: var(--font-size);
  color: var(--text-color);
  line-height: var(--line-height);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* header */

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr auto;
  justify-items: end;
  align-items: start;
  padding: var(--main-padding, 10px);
  block-size: max(100vb, 668px);
  line-height: 1.825;
}

.header-decoration {
  display: flex;
  gap: 10px;
  position: absolute;
  align-items: center;
  color: var(--accent-color, #ff0070);
  inset-block-start: var( --main-padding, 10px);
  inset-inline-end: calc(var(--main-padding) + 9px);
  line-height: 1.25em;
}

.header-decoration::after {
  content: '';
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  filter: drop-shadow(0 0 4px var(--accent-color, #ff0070));
  block-size: 9px;
  inline-size: 9px;
}

.decorated-zone::before {
  content: '';
  display: block;
  justify-self: end;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::after {
  content: '';
  display: block;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  justify-self: start;
}

.header__theme-menu {
  margin-block-end: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  color: var(--accent-color);
  text-transform: lowercase;
  font-size: 18px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-button-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  justify-self: start;
}

.header__text {
  max-inline-size: 355px;
  margin-block-start: 55px;
  margin-block-end: 66px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
  font-weight: bold;
  font-size: 18px;
}

/* main */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px var( --main-padding, 10px);
}

.main-section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--accent-color);
  font-weight: bold;
  line-height: 1.234em;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__link {
  text-shadow: 1px 1px 0 var(--accent-color);
  color: var(--text-color);
  text-decoration: none;
  
}

.section__link:hover {
  text-decoration: underline;
}

.section__link:focus {
  border: 1px solid var(--text-color);
}

/* collage */
.section-gallery {
  grid-template-rows: auto 142px 355px 237px 355px 237px;
}

.section__img {
  inline-size: 100%;
  block-size: 100%;
}

.section__img-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

/* footer */

.footer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: var(--main-padding, 10px);
  block-size: max(100vb, 668px);
}

.footer__title {
  font-weight: bold;
  font-size: 116px;
  line-height: 82.5%;
  color: var(--logo-cover);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: center;
  align-self: center;
}

.logo {
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--logo-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* media */

@media (width < 768px) {
  .section-gallery {
    gap: 10px;
  }
}

@media (width >= 768px) {
  :root {
    --main-padding: 20px;
  }

  .logo {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header .logo {
    margin-inline-start: -20px;
  }

  .main {
    padding: 60px var(--main-padding);
    gap: 80px;
  }

  .main-section {
    grid-template-columns: 236px 1fr 1fr;
  }

  .section-why .section__content,
  .section-advice .section__content {
    grid-column: 2/4;
  }

  .section-reduce .section__content {
    grid-column: span 3;
  }

  .section-gallery {
    grid-template-rows: auto 192px 230px 318px;
  }

  .section-gallery .section__subtitle {
    grid-column: span 3;
  }

  .section__img:nth-of-type(1),
  .section__img:nth-of-type(5) {
    grid-column: span 2;
  }

  .section__img:nth-of-type(2),
  .section__img:nth-of-type(3) {
    grid-row: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    margin-block-end: 273px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    margin-block-start: 114px;
    max-inline-size: 491px;
  }

  .main-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-reduce .section__content {
    grid-column: span 1;
    grid-row: 2/3
  }

  .section-gallery {
    grid-template-rows: auto 260px 315px 428px;
  }
}

