:root {
  --accent-color: #ff0070;
  --title-color: #000028;
  --text-color: #f1b2ce;
  --main-font: 'IBM Plex mono';
  --hover-button-color: rgba(255, 49, 112, 0.4);
  --logo-color: #db00ff;
  --main-padding: 10px;
  --background-image: url(../images/cover-image-dark.png);
  --font-size: 18px;
  --bg-color: #000028;
}
